<div class="row m-0">
  <div class="col-lg-4" >
  </div>
  <div class="col-lg-4 " >
    <h4>Crear/Editar Usuario</h4>
    <div class="input-group">
    <div class="input-group-prepend">
      <span class="input-group-text" id="">Id: </span>
    </div>
    <input type="text" value="{{usuario.Id}}" class="form-control" disabled readonly>
</div>
<div class="input-group">
    <div class="input-group-prepend">
      <span class="input-group-text" id="">Nombre: </span>
    </div>
    <input type="text" value="{{usuario.nombre}}" class="form-control">
</div>
<div class="input-group">
  <div class="input-group-prepend">
    <span class="input-group-text" id="">Direccion: </span>
  </div>
  <input type="text" value="{{usuario.direccion}}" class="form-control">
</div>
<div class="input-group">
  <div class="input-group-prepend">
    <span class="input-group-text" id="">Telefono:</span>
  </div>
  <input type="text" value="{{usuario.telefono}}" class="form-control">
</div>
<div class="input-group">
  <div class="input-group-prepend">
    <span class="input-group-text" id="">Correo: </span>
  </div>
  <input type="email" value="{{usuario.correo}}" class="form-control">
</div>
<div class="input-group">
  <div class="input-group-prepend">
    <span class="input-group-text" id="">Tipo usuario: </span>
  </div>
  <input type="text" value="{{usuario.tipoUsuario}}" class="form-control">
</div>
<div class="input-group">
  <div class="input-group-prepend">
    <span class="input-group-text" id="">Taller: </span>
  </div>
  <input type="text" value="{{usuario.taller}}" class="form-control">
</div>
<div class="input-group" *ngIf="esEditar">
  <button type="button" class="btn btn-primary btn1">Editar</button>
</div>
<div class="input-group" *ngIf="!esEditar">
  <button type="button" class="btn btn-success btn1">Crear</button>
</div>
</div>
<div class="col-lg-4" >
</div>
</div>